.banner {
  font-family: $font-family-heading;
  padding-top: 3em;
  padding-bottom: 4em;
  text-align: center;
  color: $color-white;
  background: $color-secondary url('/assets/images/binary-code.svg') repeat;
  background-size: 3%;
  position: relative;
  small {
    color: $color-grey;
  }
  p,
  h1 {
    max-width: 26rem;
    margin: 1rem auto;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 5;
    display: block;
  }
}

.banner--full-width-image {
  background-size: cover;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  background-color: $color-grey-lighter;
}
