<div class="nav clearfix">
    <div class="nav__items">
        <a href="/" class="nav__item nav__item--logo">Dansk Supermarked Digital Lab</a>
    </div>
    <div class="nav__items nav__items--right">
        <!--<a href="#" class="nav__item btn btn--small">Search</a>-->
        <a href="/ghost/" class="nav__item btn btn--cta btn--small nav__item--sign-in">Sign in</a>
    </div>
</div>
