// ------------
// Form styling
// ------------

input,
textarea {
  width: 100%;
  padding: 0;
  border: transparent;
  outline: none;
  background: transparent;
}

.placeholder {
  color: $color-grey;
  font-family: $font-family-heading;
  font-size: $font-size-small;
  position: absolute;
  top: 3px;
}

.placeholder--not-empty {
  color: $color-grey-light;
  font-size: $font-size-x-small;
  top: -1em;
}

.validate {
  position: relative;
}

.validate:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1em;
  display: block;
  width: 0;
  content: '';
  transition: all 0.25s ease-out;
  @media (min-width: 650px) {
    left: -2em;
  }
}

.validate--not-valid:before {
  background-color: rgba($color-alert, 0.25);
  width: 0.5em;
}
