.responses {
  margin-top: 3rem;
  blockquote {
    margin-right: 0;
    margin-left: 0;
  }
}

.response {
  position: relative;
}

.response__text,
.response__excerpt {
  img {
    max-width: 100%;
  }
}

.responses__form {
  input,
  textarea {
    font-size: $font-size-small;
    line-height: $line-height-base;
    color: $color-black;
  }
  input {
    font-family: $font-family-heading;
  }
  textarea {
    font-family: $font-family;
    height: 10em * $line-height-base;
    padding-top: 4px;
  }
}

.response__delete {
  position: absolute;
  top: 1rem;
  right: 0;
  display: none !important;
  .author-logged-in .response:hover &,
  .admin-logged-in .response:hover & {
    display: block !important;
  }
}

.response-form__markdown-helpers {
  width: 100%;
  td {
    width: 50%;
  }
}
