.clearfix {
  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

.hidden,
.user-logged-in .hide-logged-in {
  display: none !important;
}

a.disabled {
  cursor: default;
}

a.dimmed {
  color: $color-grey;
  transition: color 0.25s ease-out;

  &:hover {
    color: $color-black;
  }
}
